/* btn */
.btn-gray{
  background: transparent;
  border: 2px solid var(--darkgray-100);
  color: var(--darkgray-100);
}

/* icon */
.grayBG-icon {
  background: var(--darkgray-100);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* badge */
.badge-lightgray {
  background: var(--lightgray-200);
  font-size: .7rem;
  padding:.3rem .8rem;
}

.badge-darkgray {
  background: var(--darkgray-100);
  font-size: .7rem;
  padding:.3rem .8rem;
}

/* card-img */
.card-img{
  object-fit: cover;
}