:root{
  --warning:#FFDF65;
  --orange:#FF785E;

  /* lightgray */
  --lightgray-100:#F8F9FA;
  --lightgray-200:#E8E8DB;

  /* darkgray */
  --darkgray-100:#858377;
  --darkgray-200:#636057;
  --darkgray-300:#494846;
  --darkgray-400:#373A3C;

  /* font-family */
  --ff-base:'Noto Sans TC', sans-serif;
  --ff-num:'Baloo Tamma 2', cursive;
}